.container {
    height: 100%;
    position: relative;
}

.container .sidebar-container {
    position: absolute;
    background-color: #a1a3a6;
    height: 100%;
    font: 'poppins';
    text-align: center;
    color: aliceblue;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1)
}

.elements {
    position: absolute;
}

.container .array-container {
    position: absolute;
    padding-top: 75px;
}

.container .array-container .array-bar {
    height: 3px;
    display: block;
    margin-top: 0px;
    margin-bottom: 1px;
}